 <ion-header>

  <ion-toolbar >


     <ion-title >  Usuarios Tecnicos</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   <div class="card mt-5 p-3 mx-3 my-3" style="height: 80vh;">
    <table class="table table-hover">
      <thead>
        <tr>

          <th scope="col">Avatar</th>
          <th scope="col">Nombres</th>
          <th scope="col">Email</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let user of users ; index as i ">

          <td> <img width="40" height="40" style="border-radius: 50%;"  [src]="user.avatar  || 'https://img.freepik.com/fotos-premium/pajaro-tucan-multicolor-gafas-sol-pico-ojos-dibujos-animados_585255-396.jpg?size=626&ext=jpg'  " /></td>
          <td>{{ user.nombres || 'no completado'  }} </td>
          <td>{{ user.email}} </td>

          <td>
               <div class="flex-al" >
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <i (click)="toggleUser(user)"  *ngIf="user.isActive" class="fa fa-play"   aria-hidden="true"></i>
                <i (click)="toggleUser(user)"  *ngIf="!user.isActive"  class="fa fa-pause" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>

               </div>

          </td>
        </tr>

      </tbody>
    </table>

   </div>

 </ion-content>