 <ion-header>

  <ion-toolbar color="alto">


     <ion-title color="fondo">  usuarios </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   <form class="form-inline" [formGroup]="formCreateUser" (ngSubmit)="createNewUser()">
      <div class="form-group mx-sm-3 mb-2">
        <label for="staticEmail2" class="sr-only">Email</label>
        <input formControlName="email" type="text"  class="form-control" id="staticEmail2" placeholder="email" >
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input formControlName="password" type="text" class="form-control" id="inputPassword2" placeholder="Password">
      </div>
      <button [disabled]="formCreateUser.disabled" type="submit" class="btn btn-primary mb-2">Crear Usuario</button>
    </form>

 </ion-content>