

<ion-content [fullscreen]="true" color="fondo">


  <div id="container">
    <strong style="margin-bottom: 2rem; ">Bienvenidos a sistema informático de inventario tecnológico </strong>
    <br>
     <img style="margin-top: 3rem" width="800" src="assets/main.png" alt="">
      <div class="row" style="text-align: center;">
          <div class="col col-md-12">
              <button (click)="irLogin()" class="btn btn-primary mt-3" style="width: 200px;">
                  LOGIN
              </button>
          </div>
      </div>
  </div>

</ion-content>

