#container {
      
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
  }
  .col{
     border-radius: 5px;
     padding: 1rem;
     label{
       color: var(--ion-color-fondo);
     }
  }
  .label{
    text-align: center;
    font-size: 3rem;
    font-family: monospace;
    margin-bottom: 2rem;
    color: var(--ion-color-alto);
    font-weight: 800;
  }
  .olvidar{
    color: var(--ion-color-fondo); 
    float: right;
    cursor: pointer;
  }
  .olvidar :hover{
     color: gray
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
    margin : 2rem;
    font-size: 2rem;
    color: var(--ion-color-letras);
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;  
    color: #8c8c8c;  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  @media (max-width: 500px)  {
    #container strong {
      font-size: 20px;
      line-height: 26px;
      margin : 2rem;
      font-size: 1rem;
      color: var(--ion-color-letras);
    }
  }