<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="alto">
       <div style="display: flex;justify-content: space-between;">
        <span style="padding: 0.5rem; font-size: 1rem;">
          {{ dataApp.nombreApp | titlecase }}
        </span>
      
       <!--ion-button  color="fondo" fill="outline" style="margin-right: 2rem;"
         routerLink="/login-page" >
           LOGIN
       </ion-button>
       <ion-button   color="fondo" fill="outline" 
       style="margin-right: 2rem;"  routerLink="/main-page"  >
         Inicio
    </ion-button-->
       </div>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
