.fa{
    color : var(--ion-color-medio);
    cursor: pointer;
}
.flex-al{
   display: flex;
   justify-content: space-between;
   font-size: 1.1rem;
}
.inactive{
 background: rgba(153, 9, 9, 0.301) !important;;
}

@media only screen and (max-width: 600px) {
   .card {
     th, td{
       font-size: 0.75rem;
     flex-wrap: wrap;      }
   }
   .fa{
       color : var(--ion-color-medio);
       cursor: pointer;
       font-size: 0.75rem;
  }
 }
